body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.quote-list {
  list-style: none;
}
.quotes {
  list-style: none;
  margin-bottom: 10px;
}
.footer {
  margin-top: 100px;
}
